* {
    transition: all .3s linear;
    box-sizing: border-box;
    font-family: Helvetica;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(180deg,#49CFFF 10%, #16C2FE 100%);
}

header {
    max-height: 10vh;
    background-color: #FF7849;
    padding: 1rem;
    box-shadow: 0 .1rem 5px #000;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    color: #000;
}

main {
    margin: auto;
    width: 80%;
    font-size: 3rem;
}

.meklet {
    display: flex;
    height: 90vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textievads {
    padding: 0 120px;
}

/*
footer {
    height: 10vh;
    background-color: #000;
}
*/